# Força a instalação mesmo com incompatibilidade de arquitetura
arch=x64
platform=linux
# Desativar módulos nativos do Rollup para melhor compatibilidade
rollup-plugin-node-polyfills=false
node-addon-api=false