.services {
 background-color: var(--bg-dark-secondary);
 color: var(--text-light-primary);
 padding: 0;
 min-height: 100vh;
 display: flex;
 align-items: center; /* Centraliza verticalmente o conteúdo */
 justify-content: center; /* Centraliza horizontalmente o conteúdo */
 text-align: center;
 position: relative; /* Para posicionamento absoluto se necessário */
}

.container {
 max-width: 1200px;
 margin: 0 auto;
 padding: 0 20px;
}

.title {
 font-size: 2.5em;
 font-weight: bold;
 margin-bottom: 20px;
 transition: color 0.5s ease; /* Transição suave para a cor */
}

.description {
 font-size: 1.1em;
 line-height: 1.7;
 margin-bottom: 30px;
 transition: color 0.5s ease; /* Transição suave para a cor */
}

/* Estilos opcionais para a lista de serviços */
/* ... */

/* Responsividade */
@media (max-width: 768px) {
 .title {
   font-size: 2em;
 }
 .description {
   font-size: 1em;
 }
 /* ... */
}
.service-item {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.service-item {
  min-height: 100vh;
}